<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl">Lego Collection</a>
        <div class="flex items-center">
            <a href="/" class="text-white active mr-2">Home</a>
            <a href="/about" class="text-white">About</a>
            <a href="/lego/editSet/<%= set.set_num %>">Edit</a>
            <div class="dropdown ml-2">
                <div tabindex="0" class="m-1 btn btn-sm btn-primary">Theme</div>
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a href="/lego/sets?theme=Star Wars: Build Your Own Adventure: Galactic Missions">Star Wars</a>
                    </li>
                    <li>
                        <a href="/lego/sets?theme=DiscoverySet">Discovery Set</a>
                    </li>
                    <li>
                        <a href="/lego/sets?theme=Master Mechanic Set">Master Mechanic Set</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
